<html>
<div class="col-md-12">
    <form #inputForm= "ngForm" class="well">
        <div class="form-group">
            <input type="text" [(ngModel)]="messageID"  name="messageID" (input)="validateMessageID()" class="form-control" placeholder="Message ID" style="width: 3cm"
            />
        </div>

        <div class="form-group">
            <input type="text" [(ngModel)]="messageType" name="messageType" class="form-control" placeholder="Message Type" style="width: 4cm"
            />
        </div>
        <div class="form-group">
            <input type="number" [(ngModel)]="messageSeverity" name="messageSeverity" class="form-control" placeholder="Severity" style="width: 4cm"
            />
        </div>
        <div class="form-group">
            <input type="text" [(ngModel)]="ipAddress" name="ipAddress" class="form-control" placeholder="From IP Address" style="width: 4cm"
            />
        </div>
        <div class="form-group">
            <input type="text" [(ngModel)]="messageDesc" name="messageDesc" class="form-control" placeholder="Message Description" />
        </div>
    </form>
    <div class="well">
        <div *ngIf = displayAddButton> 
             <button type="submit" class="btn btn-primary" (click)="addLog()">Add-Log</button>
        </div>
       
        &nbsp;&nbsp;
        <div *ngIf = displayUpdateButton> 
           <button type="submit" class="btn btn-primary" (click)="updateLog()">Update-Log</button>
        </div>
        
    </div>

</div>
<div>

</div>

<hr>

<div class="col-md-12">
    <table class="table table-bordered table-hover table-striped">
        <thead>
            <tr>
                <th>Message ID</th>
                <th>Message Type</th>
                <th>Severity</th>
                <th>From IP</th>
                <th>Description</th>
                <th class="text-center" style="width:3.5cm"> Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let log of logs">
                <td>{{log.message_id}}</td>
                <td>{{log.message_type}}</td>
                <td>{{log.severity}}</td>
                <td>{{log.from_ip}}</td>
                <td>{{log.message}}</td>
                <td><input type="button" value="Update" (click)="displayUpdateLog(log._id)" class="btn btn-primary btn-xs"/> &nbsp;
                   <button type="button" class="btn btn-danger btn-xs" [disabled]="displayUpdateButton">Delete</button>
                    <!--<input type="button" value="Delete" [disabled]="" (click)="deleteLog(log._id)" class="btn btn-danger btn-xs" />-->
                </td>
            </tr>
        </tbody>
    </table>
</div>

</html>